@import url('https://fonts.googleapis.com/css?family=Pacifico');

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  color: #424242;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Homepage base route: / */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  position: relative;
  width: 500px;
  padding: 10px 0;
}

.piano-intro-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano-game-intro img {
  height: 55px;
  margin-right: 10px;
}

.piano-game-intro h1 {
  font-size: 48px;
}

.piano-game-intro p {
  font-size: 19px;
  margin-top: 0px;
}

.tutorial-nav {
  background-color: #242424;
  margin: 20px;
  border-radius: 12px;
  padding: 0px 35px;
  text-decoration: none;
}

.tutorial-nav div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.5px;
  font-size: 24px;
  color: rgb(235, 235, 235);
}

.tutorial-nav .tutorial-icon svg {
  display: flex;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

.tutorial-nav:hover {
  cursor: pointer;
  outline: 3px solid rgb(0, 168, 219);
}

/* Learn Notes page base route: /learn-notes */

.learn-notes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.learn-notes-container .flex-center svg {
  font-size: 55px;
  margin-right: 12px;
}

.learn-notes-container h1 {
  font-size: 44px;
  margin-bottom: 0px;
  margin-top: 0;
}

.learn-notes-container p {
  font-size: 18px;
  width: 680px;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.reset-button {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  background-color: rgb(29, 89, 255);
}

.reset-button:hover {
  cursor: pointer;
  background-color: rgb(15, 74, 236);
}

.view-results-button {
  font-size: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  color: black;
  background-color: rgb(3, 255, 137);
}

.view-results-button:hover {
  cursor: pointer;
  background-color: rgb(0, 238, 127);
}

.user-answered-notes {
  display: flex;
  font-size: 28px;
  font-weight: 500;
  gap: 5px;
  margin: 0;
}

.user-answered-notes .note-is-correct {
  color: green;
  margin: 0;
}

.user-answered-notes .note-is-incorrect {
  color: red;
  margin: 0;
}

.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-image img {
  height: 630px;
}

.quiz-button-note-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-input-field-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  height: 330px;
  width: 450px;
  background-image: url('/piano-keys.jpg');
  background-size: cover;
  -webkit-box-shadow: 5px 7px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 7px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 7px 7px 2px rgba(0, 0, 0, 0.3);
}

.score {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid black;
}

.note-input-field-container h1 {
  font-size: 48px;
  padding: 0 60px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Pacifico', sans-serif;
  letter-spacing: 2px;
  color: rgb(71, 227, 255);
  -webkit-text-stroke: 0.2px black;
}

.note-input-field-container .input-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-input-field-container .input-button-container button {
  font-size: 20px;
  text-transform: lowercase;
  margin-left: 15px;
  padding: 1px 16px;
  border-radius: 6px;
  font-family: 'Pacifico', sans-serif;
  letter-spacing: 1px;
  color: rgb(248, 248, 248);
  background-color: rgb(29, 89, 255);
}

.note-input-field-container .input-button-container button:disabled {
  color: rgb(248, 248, 248);
  background-color: rgb(70, 70, 70);
  cursor: not-allowed;
}

.note-input-field-container .input-button-container button:hover {
  cursor: pointer;
}

.note-input-field-container .input-button-container input {
  width: 65px;
  height: 55px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.note-input-field-container input:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.note-input-field-container .incorrect-answer {
  font-size: 20px;
  font-family: 'Pacifico', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(255, 19, 19);
}

.all-notes {
  font-size: 15px;
  width: 450px;
  text-align: center;
  margin-top: 20px;
}

/* Notes Modal */
.react-responsive-modal-modal {
  background: rgb(248, 248, 248) !important;
}

.notes-modal {
  width: 100%;
  height: 800px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.modal-container .guessed-notes-container {
  display: flex;
}

.modal-container .correct-answer p {
  font-size: 34px;
  color: rgb(0, 170, 0);
  margin: 0;
  padding: 0 8px;
}

.modal-container .incorrect-answer p {
  font-size: 34px;
  margin: 0;
  color: rgb(199, 0, 0);
  padding: 0 8px;
}

.modal-container .incorrect-answer p:hover {
  cursor: pointer;
  outline: 2px solid rgb(199, 0, 0);
}

.modal-container .correct-answer p:hover {
  cursor: pointer;
  outline: 2px solid rgb(0, 170, 0);
}

.modal-selected-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modal-selected-note-image img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-selected-note-container .answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: 1px solid black;
  padding: 35px 25px;
  border-radius: 12px;
  height: 100px;
  width: 300px;
}

.modal-selected-note-container .answers .incorrect-answer {
  color: rgb(199, 0, 0);
  font-weight: 400;
  margin: 5px;
}

.modal-selected-note-container .answers .correct-answer {
  color: rgb(0, 170, 0);
  font-weight: 400;
  margin: 5px;
}

.modal-all-notes {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  width: 350px;
}

/* Learn Chords Page */

.learn-chords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.learn-chords-container svg {
  font-size: 84px;
}

/* Media Queries */
@media (max-width: 970px) {
  .score-container {
    width: 300px;
  }

  .learn-notes-container {
    justify-content: start;
    margin-top: 50px;
  }

  .learn-notes-container .flex-center svg {
    font-size: 38px;
  }

  .learn-notes-container h1 {
    font-size: 28px;
  }

  .learn-notes-container p {
    font-size: 16px;
    width: auto;
    padding: 0 40px;
  }

  .quiz-buttons {
    width: 100%;
  }

  .reset-button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    color: rgb(248, 248, 248);
    background-color: rgb(29, 89, 255);
  }

  .view-results-button {
    font-size: 14px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    color: black;
    background-color: rgb(3, 255, 137);
  }

  .note-input-field-container {
    height: 250px;
    width: 350px;
    margin-top: 0px;
  }

  .note-input-field-container h1 {
    font-size: 32px;
  }

  .note-input-field-container .input-button-container input {
    height: 40px;
    width: 50px;
    font-size: 25px;
  }

  .note-input-field-container .input-button-container button {
    font-size: 16px;
  }

  .note-image img {
    height: 400px;
  }

  .all-notes {
    width: 350px;
  }

  .react-responsive-modal-modal {
    width: 600px;
    height: 775px;
  }

  .modal-all-notes {
    margin-top: 10px;
    font-size: 13px;
    width: 300px;
  }

  .modal-container h1 {
    font-size: 26px;
    margin-top: 5px;
  }

  .modal-container .correct-answer p {
    font-size: 24px;
  }

  .modal-container .incorrect-answer p {
    font-size: 24px;
  }

  .modal-selected-note-container .answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px 0px;
    margin-top: 25px;
    height: 85px;
  }

  .modal-selected-note-container .answers .incorrect-answer {
    margin: 4px;
    font-size: 22px;
  }

  .modal-selected-note-container .answers .correct-answer {
    margin: 4px;
    font-size: 22px;
  }

  .modal-selected-note-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .modal-selected-note-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-selected-note-image img {
    width: 75%;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .react-responsive-modal-modal {
    width: 320px;
    height: 775px;
  }

  .quiz-button-note-field-container {
    margin-top: 35px;
  }

  .quiz-buttons {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .reset-button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    color: rgb(248, 248, 248);
    background-color: rgb(29, 89, 255);
  }

  .view-results-button {
    font-size: 14px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    color: black;
    background-color: rgb(3, 255, 137);
  }

  .notes-container {
    flex-direction: column-reverse;
  }

  .score-container {
    width: 325px;
  }

  .modal-all-notes {
    font-size: 12px;
    width: 300px;
  }

  .modal-selected-note-container .answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px 0px;
    margin-top: 25px;
    height: 85px;
  }

  .modal-selected-note-container .answers .incorrect-answer {
    margin: 4px;
  }

  .modal-selected-note-container .answers .correct-answer {
    margin: 4px;
  }

  .modal-container h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  .modal-container .guessed-notes-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-container .correct-answer p {
    padding: 0 5px;
  }

  .modal-container .incorrect-answer p {
    padding: 0 5px;
  }

  .modal-selected-note-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .modal-selected-note-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-selected-note-image img {
    width: 75%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .react-responsive-modal-modal {
    width: 235px;
    height: 775px;
  }

  .quiz-buttons {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .reset-button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 18px;
    border-radius: 8px;
    color: rgb(248, 248, 248);
    background-color: rgb(29, 89, 255);
  }

  .view-results-button {
    font-size: 12px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 18px;
    border-radius: 8px;
    color: black;
    background-color: rgb(3, 255, 137);
  }

  .piano-game-intro h1 {
    font-size: 32px;
  }

  .piano-game-intro img {
    height: 44px;
  }

  .tutorial-nav div {
    font-size: 18px;
  }

  .tutorial-nav .tutorial-icon svg {
    font-size: 25px;
  }

  .piano-game-intro p {
    font-size: 16px;
  }

  .learn-notes-container .flex-center svg {
    font-size: 32px;
  }

  .learn-notes-container {
    margin-top: 50px;
  }

  .learn-notes-container h1 {
    font-size: 24px;
  }

  .learn-notes-container p {
    font-size: 14px;
    padding: 0 20px;
  }

  .quiz-buttons {
    width: auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .score {
    font-size: 13px;
  }

  .score-container {
    width: 300px;
  }

  .note-input-field-container {
    height: 200px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .note-input-field-container h1 {
    font-size: 28px;
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .note-input-field-container .incorrect-answer {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .note-input-field-container .input-button-container input {
    height: 35px;
    width: 40px;
    font-size: 21px;
  }

  .note-input-field-container .input-button-container button {
    font-size: 13px;
  }

  .notes-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .note-image img {
    height: 400px;
  }

  .all-notes {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .modal-all-notes {
    width: 250px;
  }

  .modal-selected-note-container .answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px 0px;
    margin-top: 25px;
    margin: 15px auto;
    height: 60px;
    width: 250px;
  }

  .modal-container .correct-answer p {
    font-size: 18px;
  }

  .modal-container .incorrect-answer p {
    font-size: 18px;
  }

  .modal-selected-note-container .answers .incorrect-answer {
    margin: 4px;
    font-size: 18px;
  }

  .modal-selected-note-container .answers .correct-answer {
    margin: 4px;
    font-size: 18px;
  }

  .modal-container h1 {
    font-size: 18px;
    text-align: center;
  }
}
